%fieldset
  = f.input :name
  = f.input :slug
  = f.input :published
  = f.input :user_id
  = f.input :name
  = f.input :contact_name
  = f.input :phone
  = f.input :inn
  = f.input :kpp
  = f.input :rs
  = f.input :bank_name
  = f.input :ks
  = f.input :bic
%fieldset
  %legend= t 'labels.admin.legend.seo'
  = f.input :meta_title
  = f.input :meta_description, as: :string
