- action ||= :create
.card-body.card-padding
  = simple_form_for @form, url: url_for(action: action), wrapper: :material do |f|
    .row
      .col-md-6
          .col-md-12
            = f.input :full_name, include_blank: false, required: true, placeholder: 'Петров Василий', label: 'Полное имя'
          .col-md-12
            = f.input :email
          .col-md-12
            = f.input :password
      .col-md-6
        .row
          .col-md-12
            = f.input :phone, input_html: { 'data-mask' => '+7(999)999-99-99' }, required: true
          .col-md-12
            = f.input :roles, collection: User.admin_roles.options, include_blank: false, required: true
          .col-md-12
            = f.input :userpic, as: :carrierwave, image: true
    .row
      .text-right
        = f.button :submit, 'Отправить'
