table#data-table-users.table.table-striped.table-vmiddle
  thead
    tr
      th data-column-id="id" data-order="asc"  ID
      th data-column-id="full_name"  Имя
      th data-column-id="phone"  Телефон
      th data-column-id="telegram" data-sortable="false"  Телеграм
      th data-column-id="state"  Статус
      th data-column-id="roles"   Права
      th data-column-id="received"   Добавлен
      th data-column-id="commands" data-formatter="commands" data-sortable="false"
        | Комманды
  tbody
    - @users.each do |user|
      tr
        td= user.id
        td= user.full_name
        td= user.phone
        td= link_to user.telegram_login, "http://t.me/#{user.telegram_login}"
        td= user.state_text
        td= user.roles.to_a.map(&:to_s).join(', ')
        td= user.created_at.strftime('%F')
        td
          button type="button" class="btn btn-icon command-edit waves-effect waves-circle"
            span class="zmdi zmdi-edit"
          button type="button" class="btn btn-icon command-edit waves-effect waves-circle"
            span class="zmdi zmdi-delete"


