
.card
  .card-header
    h2
      = "Редактирование пользователя <i>#{@user.full_name}</i>".html_safe
      small
        | Будте аккуратны при внесении изменений
  = bootstrap_flash
  = render partial: 'form', locals: { action: :show }

