.card
  .card-header
    h2
      | Список заявок
      small
        | спрос и предложение

  = bootstrap_flash

  .card
    .list-group.lg-odd-black
      - @app_demands.each do |app_demand|
        .list-group-item.media
          .pull-left
            img.lgi-img alt="" src=app_demand.user.avatar_url /
          .pull-right
            .actions.dropdown
              a aria-expanded="true" data-toggle="dropdown" href=""
                i.zmdi.zmdi-more-vert
              ul.dropdown-menu.dropdown-menu-right
                li
                  a href=""  Edit
                li
                  a href=""  Delete
          .media-body
            .lgi-heading
              = app_demand.type_of_deal_text
              |&nbsp;
              = app_demand.type_of_property_text
              |&nbsp;|&nbsp;
              = app_demand.client.full_name
              |&nbsp;|&nbsp;
              = app_demand.client.client_role_text
            small.lgi-text
              = link_to app_demand.client.phone, "tel:#{app_demand.client.phone}"
              |&nbsp;|&nbsp;
              = link_to app_demand.client.email, "mail:#{app_demand.client.email}"
            ul.lgi-attrs
              - if app_demand.tower.present?
                li= "Башня: #{app_demand.tower.name}"
              li= "Сотрудник: #{app_demand.user.full_name}"
              li= "#{AppDemand.human_attribute_name(:view)}: #{app_demand.view}"
              li= "#{AppDemand.human_attribute_name(:floor_min)}: #{app_demand.floor_min}"
              li= "#{AppDemand.human_attribute_name(:floor_max)}: #{app_demand.floor_max}"
              li= "#{AppDemand.human_attribute_name(:min_area)}: #{app_demand.min_area}"
              li= "#{AppDemand.human_attribute_name(:max_area)}: #{app_demand.max_area}"
              li= "#{AppDemand.human_attribute_name(:decorated)}: #{app_demand.decorated_text}"
              li= "#{AppDemand.human_attribute_name(:furniture)}: #{app_demand.furniture_text}"
