.card.w-item
  .card-header
    .media
      .media-body
        %h2
          ="#{offer.name} в #{offer.tower.name}"
          %small= Russian.strftime(offer.created_at, '%e %b %Y')
        %br
        .line
          - if offer.lease?
            %span.btn.bgm-orange=  "Ставка #{number_with_delimiter(offer.lease_price, delimiter: ' ')} #{offer.currency_text}/мес"
            %span.btn.bgm-orange=  "#{number_with_delimiter(offer.net, delimiter: ' ')} #{offer.currency_text}/м2/год"
        .line
          %span.btn.bgm-lime= "#{offer.floor} этаж"
          %span.btn.bgm-lime= "Площадь #{offer.area} м2"
          - if offer.view.present?
            %span.btn.bgm-lime= "#{offer.view}"
        .line
          - if offer.planner.present?
            %span.btn.bgm-bluegray= "#{offer.planner_text}"


          - if offer.decorating
            %span.btn.bgm-bluegray= "Отделка есть"
          - else
            %span.btn.bgm-bluegray= "Без отделки"


          - if offer.furniture
            %span.btn.bgm-bluegray= "Мебель есть"
          - else
            %span.btn.bgm-bluegray= "Без мебели"

        %br
        - if offer.images.present?
          .wi-preview.lightbox.clearfix

            - offer.images.each do |image|
              .wip-item{"data-src" => image.file_url, :style => "background-image: url(#{image.file_url});"}
                - image_tag image.file_url(:slider)
