!!!
%html{:lang => 'ru'}
  %head
    = tag :meta, charset: 'utf-8'
    = stylesheet_link_tag 'adminos_gallery', media: :all
    = csrf_meta_tag
  %body= yield
  = javascript_include_tag 'jquery'
  = javascript_include_tag 'adminos_gallery'
