%fieldset
  .image_ids
    .row.collection
      = render partial: 'photo', collection: f.object.images, as: :photo

%fieldset
  %legend Основные настройки
  = f.input :name
  = f.input :slug
  = f.input :published
  = f.input :request, label: 'Запрос #'
  = f.input :number, label: 'Помещение #'
  = f.input :state, label: 'Статус', collection: Offer.state.options, include_blank: false
  = f.input :room_type, label: 'Тип помещения', collection: Offer.room_type.options, include_blank: false
  = f.input :currency, label: 'Валюта', collection: Offer.currency.options, include_blank: false
  = f.input :planner, label: 'Планировка', collection: Offer.planner.options
  = f.input :area, label: 'Площадь в кв.м', default: 0
  = f.association :tower, label: 'Башня', include_blank: false
  = f.input :floor, label: 'Этаж', default: 0
  = f.input :view, label: 'Вид'
  = f.input :body, label: 'Описание', input_html: { class: 'mce' }

  = f.input :decorating, label: 'Отделка'
  = f.input :furniture, label: 'Мебель'
  = f.input :contact, label: 'Контакт'
%fieldset
  %legend= t 'Продажа'
  = f.input :sell_price, label: 'Стоимость продажи'
%fieldset
  %legend= t 'Аренда'
  = f.input :lease_price, label: 'Стоимость аренды в месяц'
  = f.input :lease_price, label: 'Стоимость аренды в месяц'
%fieldset
  %legend= t 'labels.admin.legend.seo'
  = f.input :meta_title
  = f.input :meta_description, as: :string
