- resource_title
- breadcrumbs resource_name
- breadcrumbs label: collection_name,
    url: polymorphic_path([:admin, resource.class.name.pluralize.underscore])



= resource_header
%fieldset
  = render 'images'

= simple_form_for resource_form_object, html: {class: 'form-horizontal'} do |f|
  
  = render 'fields', f: f
  .form-actions
    = f.button :submit, resource_button_value_main, class: bs_btn(:primary)
    = link_to resource_button_value_cancel,
        polymorphic_path([:admin, resource.class.name.pluralize.underscore]),
        class: bs_btn(:default)
