- parent_object = begin parent_resource rescue nil end
- object_array = parent_object ? [:admin, parent_object, object] : [:admin, object]
- is_publishable = object.respond_to?(:published)
- is_published   = is_publishable && object.published?
- if controller.respond_to?(:sort)
  - if object.respond_to?(:move_to)
    - sort = {data: {id: object.id, href: polymorphic_path(object_array, action: :sort)}}
  - if object.class.respond_to?(:apply_sortable_order)
    - sort = {rel: object.id, data: {id: object.id, placeholder: object.reasonable_name}}
%tr{{id: "#{object.class.name.underscore}_#{object.id}",
     class: optional_cls(unpublished: is_publishable && !is_published)}.merge(sort || {})}
  - if controller.respond_to?(:sort)
    %td.icon
      = bs_icon(:move, class: '-move')
  %td= link_to "##{object.request}", polymorphic_path(object_array, action: :edit)
  %td= object.state_text
  %td= object.room_type_text
  %td= object.tower.name
  %td= object.floor
  %td= "#{object.area}м²"
  %td= object.number
  %td.icon= object_link_edit(object)
  - if controller.respond_to?(:batch_action)
    %td.icon= admin_cb(object)
