.span3.offer-photo{ id: "offerPhoto#{photo.id}" }
  = hidden_field_tag 'offer[image_ids][]', photo.id, hidden: true
  = image_tag(photo.file_url(:preview))
  %br
  = link_to 'Удалить', admin_offers_image_path(photo.id), method: :delete, remote: true
