.card
  .card-header
    %h2
      Контакты
      %small
        Информация для связи с нами
  .card-body.card-padding
    .pmo-contact
      %ul
        %li.ng-binding
          %i.zmdi.zmdi-phone
          +7(985)065-89-98
        %li.ng-binding
          %i.zmdi.zmdi-email
          = link_to 'offers@moscitytowers.ru', 'mailto:offers@moscitytowers.ru'
        %li.ng-binding
          %i.zmdi.zmdi-facebook-box
          = link_to 'mibc.moscowcity', 'https://www.facebook.com/500011350187436'

        %li
          %i.zmdi.zmdi-pin
          %address.m-b-0.ng-binding
            Пресненская набережная 8с1
        = link_to 'https://www.google.ru/maps/@55.7486061,37.5396504,15.96z', target: '_blank', class: "pmo-map" do
          = image_tag "/img/map.jpg"
