%header#header.clearfix{"data-ma-theme" => "bluegray"}
  %ul.h-inner
    %li.hi-trigger.ma-trigger{"data-ma-action" => "sidebar-open", "data-ma-target" => "#sidebar"}
      .line-wrap
        .line.top
        .line.center
        .line.bottom
    %li.hi-logo.hidden-xs
      = link_to 'Moscow City Towers', root_path
  .text-right
    = link_to "tel:79850658998", "+7 (985) 065-89-98"
