aside#sidebar.sidebar.c-overflow
  .s-profile
    a data-ma-action="profile-menu-toggle" href=""
      .sp-pic
        img alt="" src=current_user.avatar_url
      .sp-info
        = current_user.full_name
        i.zmdi.zmdi-caret-down
      ul.main-menu
        li
          = link_to profile_path  do
            i.zmdi.zmdi-account
            = t('.profile')
        li
          = link_to logout_path do
            i.zmdi.zmdi-time-restore
            = t('.exit')


  ul.main-menu
    - if current_user.admin?
      li.sub-menu
        a data-ma-action="submenu-toggle" href=""
          i.zmdi.zmdi-view-list
          | Администрирование
        ul
          li
            = link_to 'Пользователи', users_path
            = link_to 'Предложения', offers_path
        ul
          li
            = link_to 'Настройка сайта', '#'
    - if can?(:index, AppDemand)
      li
        = link_to apps_list_path do
          i.zmdi.zmdi-assignment
          | Список заявок
    - if can? :create, AppDemand
     li.sub-menu
        a data-ma-action="submenu-toggle" href=""
          i.zmdi.zmdi-assignment-returned
          | Создать заявку
        ul
          li
            = link_to 'Спрос', new_app_demand_path



    - if can?(:analytic, AppDemand)
      li
        = link_to app_demands_path do
          i.zmdi.zmdi-shield-security
          | Смарт-контракты(скоро)



