#devise_page.users_form
  = show_flash_alert with_close_bullet: true
  = simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f|
    = f.input :email, placeholder: 'E-mail', label: false
    = f.input :password, placeholder: t('admin.users.labels.form.password'), label: false
    - if devise_mapping.rememberable?
      = f.input :remember_me, as: :boolean, inline_label: t('admin.users.labels.form.remember_me'), label: false
    .submit= f.submit t('admin.users.labels.form.login'), tabindex: 3, class: bs_btn
  = render "links"
