ul.tab-nav.tn-justified
  li class="#{ action_name == 'index' && 'active' }"
    =link_to 'Таблица', offers_path
  li class="#{ %w(new create).include?(action_name) && 'active'}"
    =link_to 'Импорт', imports_offers_path

