table#data-table-users.table.table-striped.table-vmiddle
  thead
    tr
      th data-column-id="uid" data-order="asc"  UID
      th data-column-id="state"  Статус
      th data-column-id="room_type"  Тип
      th data-column-id="floor"   Этаж
      th data-column-id="created_at"   Добавлен
      th data-column-id="updated_at"   Обновлен
      th data-column-id="commands" data-formatter="commands" data-sortable="false"
        | Комманды
  tbody
    - @offers.each do |offer|
      tr
        td= offer.uid
        td= offer.state_text
        td= offer.room_type_text
        td= offer.floor
        td= offer.created_at.strftime('%F')
        td= offer.updated_at.strftime('%F')
        td
          button type="button" class="btn btn-icon command-edit waves-effect waves-circle"
            span class="zmdi zmdi-edit"
          button type="button" class="btn btn-icon command-edit waves-effect waves-circle"
            span class="zmdi zmdi-delete"


