- content_for :stylesheets do
  = stylesheet_link_tag "components/data-tables", media: :all

- content_for :javascripts do
  = javascript_include_tag "components/data-tables"


.card
  .card-header
    h2
      | Предложения
      small
        = link_to "Варианты в Google Docs", "https://goo.gl/CTGQbH", target: '_blank'

  = raw bootstrap_flash
  = render 'nav'
  = render 'table'

