- parent_object = begin parent_resource rescue nil end
- object_array = parent_object ? [:admin, parent_object, object] : [:admin, object]
- is_publishable = object.respond_to?(:published)
- is_published   = is_publishable && object.published?
- if controller.respond_to?(:sort)
  - if object.respond_to?(:move_to)
    - sort = {data: {id: object.id, href: polymorphic_path(object_array, action: :sort)}}
  - if object.class.respond_to?(:apply_sortable_order)
    - sort = {rel: object.id, data: {id: object.id, placeholder: object.reasonable_name}}
%tr{{id: "#{object.class.name.underscore}_#{object.id}",
     class: optional_cls(unpublished: is_publishable && !is_published)}.merge(sort || {})}
  - if controller.respond_to?(:sort)
    %td.icon
      = bs_icon(:move, class: '-move')
  %td= link_to object.reasonable_name, polymorphic_path(object_array, action: :edit)
  - if is_publishable
    %td.icons
      - if is_published
        = admin_published_sign(class: '-state')
      - else
        = admin_unpublished_sign
  %td.icon= object_link_edit(object)
  - if controller.respond_to?(:batch_action)
    %td.icon= admin_cb(object)
