#l-login.lc-block.toggled
  %h1 Moscow City Towers
  .lcb-form
    = simple_form_for @form, url: session_path, wrapper: :material, remote: true do |f|
      = f.input :phone, as: :hidden
      - if Rails.env.development? && @user.present?
        .text-warning= "пароль: #{@user.sms_pass}"

      - flash.each do |name, msg|
        .text-danger= msg
        %br
      .input-group.m-b-20
        %span.input-group-addon
          %i.zmdi.zmdi-account
        .fg-line
          = f.input_field :phone,  class: 'form-control', 'data-mask' => '+7(999)999-99-99', placeholder: 'телефон'
      .input-group.m-b-20
        %span.input-group-addon
          %i.zmdi.zmdi-account
        .fg-line
          = f.input_field :password, class: 'form-control', placeholder: 'пароль'
      = link_to 'Войти', '#', "onClick" => "$(this).closest('form').submit();"
