#l-login.lc-block.toggled
  %h1 Moscow City Towers
  #loginForm
    = render 'login_form'
    = simple_form_for '', url: get_password_session_path, remote: true do |f|
      - flash.each do |name, msg|
        .text-danger= msg
        %br
      .lcb-form
        .input-group.m-b-20
          %span.input-group-addon
            %i.zmdi.zmdi-account
          .fg-line
            %input.form-control{name: :phone, :placeholder => "Телефон", :type => "text", 'data-mask' => '+7(999)999-99-99'}/
        = link_to 'Получить пароль', '#', "onClick" => "$(this).closest('form').submit();"
