

#l-login.lc-block.toggled
  %h1 Moscow City Towers
  .lcb-form
    = simple_form_for @form, url: profile_path, wrapper: :material, remote: true, method: :put do |f|
      - flash.each do |name, msg|
        .text-danger=raw msg
        %br

      .input-group.m-b-20
        %span.input-group-addon
          %i.zmdi.zmdi-account
        .fg-line
          = f.input_field :full_name, class: 'form-control', placeholder: 'ваше имя'
      .input-group.m-b-20
        %span.input-group-addon
          %i.zmdi.zmdi-account
        .fg-line
          = f.input_field :site, class: 'form-control', placeholder: 'сайт(если имеется)'
      = link_to 'Зарегистрироваться', '#', "onClick" => "$(this).closest('form').submit();"
