- content_for :javasctipts do
  javascript:
    $(document).ready(function(){
      window.location.href = '/'
    })
#l-login.lc-block.toggled
  h1 Moscow City Towers
  .lcb-form
    = simple_form_for @form, url: session_path, wrapper: :material, remote: true do |f|
      - flash.each do |name, msg|
        .text-success=raw msg
        br
