%fieldset
  = f.input :name
  = f.input :description
  = f.input :slug
  = f.input :published
  = f.input :image, as: :carrierwave, image: true
%fieldset
  %legend= t 'labels.admin.legend.seo'
  = f.input :meta_title
  = f.input :meta_description, as: :string
