%div.nested-set-item{ rel: object.id,
  id: "#{object.class.name.underscore}_#{object.id}", class: optional_cls('unpublished' => !object.published?) }
  = bs_icon(:move, class: '-move')
  %span
    %span.name= link_to object.name, polymorphic_path([:admin, object], action: :edit)
  %span.controls
    - if object.published?
      = admin_published_sign(class: '-state')
    - else
      = admin_unpublished_sign
    = object_link_edit(object)
    = admin_cb(object)
