- collection_title
= collection_header

- if collection.present?
  = batch_actions_tag publication: true do
    #pages.pages.with-nested-sortable
      = render partial: 'objects', locals: { objects: collection.top }
