- content_for :javascripts do
  :javascript
    $(document).on('change','#app_demand_type_of_deal',function(){
      $('.deal-profile-content>div').addClass('hidden');
      $('.deal-profile-content #'+$(this).val()).removeClass('hidden');
    })

    $(document).on('change','#app_demand_type_of_property',function(){
      $('.property-profile-content>div').addClass('hidden');
      $('.property-profile-content #'+$(this).val()).removeClass('hidden');
    })


= simple_form_for @form,  wrapper: :material do |f|

  = f.simple_fields_for :client_attributes, @form.client, wrapper: :material do |ff|
    .row
      .col-md-4
        = ff.input :full_name, label: 'Имя контактного лица', placeholder: 'напр: Василий Иванов', required: true
      .col-md-4
        = ff.input :phone, label: 'Телефон', input_html: { 'data-mask' => '+7(999)999-99-99' }, required: true
      .col-md-4
        = ff.input :email, as: :email, label: 'E-mail', required: true
      .col-md-4
        = ff.input :site, label: 'Сайт'
      .col-md-4
      .col-md-4
        = ff.input :client_role, label: 'Вид сотрудничества', as: :select, collection: User.client_role.options, include_blank: false
  %br
  %br
  .row
    .col-md-4
      = f.input :type_of_deal, collection: AppDemand.type_of_deal.options, include_blank: false, required: true
    .col-md-4
      = f.input :type_of_property, collection: AppDemand.type_of_property.options, include_blank: false, required: true
    .col-md-4
      = f.input :tower_id, collection: Tower.all, include_blank: 'Не имеет значения', label: 'Башня'
  .row
    .col-md-4
      = f.input :view
    .col-md-4
      = f.input :decorated,  collection: AppDemand.decorated.options, include_blank: false
    .col-md-4
      = f.input :furniture, collection: AppDemand.furniture.options, include_blank: false
  %br
  .row
    .col-md-3
      = f.input :floor_min
    .col-md-3
      = f.input :floor_max
    .col-md-3
      = f.input :min_area
    .col-md-3
      = f.input :max_area
  %br
  .row
    .col-md-6
      .deal-profile-content
        #to_buy
          = f.fields_for :to_buy_attributes, wrapper: :material do |ff|
            = ff.input :max_cost, as: :string, input_html: { 'data-mask' => '000.000.000.000.000,00' }
            %br
            = ff.input :max_cost_per_metr, as: :string, input_html: { 'data-mask' => '000.000.000.000.000,00' }
            = ff.input :time_info
        #for_rent.hidden
          = f.fields_for :for_rent_attributes, wrapper: :material do |ff|
            .row
              .col-md-6
                = ff.input :first_rent_start_at, as: :string, input_html: { 'data-mask' => '00/00/0000', placeholder: 'напр: 23/05/2017'}
              .col-md-6
                = ff.input :last_rent_start_at, as: :string, input_html: { 'data-mask' => '00/00/0000' }
            %br
            = ff.input :rent_duration do
              - opts = AppDemand::DealForRentProfile.rent_duration.values.inject({}) { |sum,k| sum[I18n.t("enumerize.app_demand.deal_for_rent_profile.rent_duration.#{k}")] = k; sum}

              = ff.select :rent_duration, opts, {}, class: 'select optional form-control'
            = ff.input :max_cost_per_month, as: :string, input_html: { 'data-mask' => '000.000.000.000.000,00' }
            = ff.input :max_cost_per_m2_year, as: :string, input_html: { 'data-mask' => '000.000.000.000.000,00' }
    .col-md-6
      .property-profile-content
        #apartment.hidden
          = f.fields_for :apartment_attributes, wrapper: :material do |ff|
            = ff.input :min_rooms_count
        #office
          = f.fields_for :office_attributes, wrapper: :material do |ff|
            .row
              .col-md-6
                = ff.input :min_cabinets_count
              .col-md-6
                = ff.input :max_cabinets_count
            .row
              .col-md-6
                = ff.input :min_negotiation_count
              .col-md-6
                = ff.input :max_negotiation_count

            = ff.input :open_space do
              - opts = AppDemand::PropertyOfficeProfile.open_space.values.inject({}) { |sum,k| sum[I18n.t("enumerize.app_demand.property_office_profile.open_space.#{k}")] = k; sum}
              = ff.select :open_space, opts, {}, class: 'select optional form-control'
    .text-right
      = f.button :submit, 'Отправить', style: 'margin-right: -20px;'
      %br
      %br


-#
  = simple_form_for @form, url: '', wrapper: :form_signin, html: { class: 'form-signin' } do |f|
    h2 class="form-signin-heading" Вход
    .login-wrap
      .user-login-info
        = f.input :email, placeholder: 'E-mail', input_html: { class: 'form-control' }
        = f.input :password, placeholder: 'Пароль', input_html: { class: 'form-control' }
        - if @telegram_account.present?
          = hidden_field_tag :telegram_token, params[:telegram_token]
          .text-center.text-warning
            = "Авторизуйтесь, чтобы привязать аккаунт #{@telegram_account.username}"

      = f.button :submit, 'Войти', class: 'btn btn-lg btn-login btn-block'


