ul.tab-nav.tn-justified
  li class="#{ action_name == 'index' && 'active' }"
    =link_to 'Список', users_path
  li class="#{ %w(new create).include?(action_name) && 'active'}"
    =link_to 'Добавить', new_user_path

