/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require fullcalendar/dist/fullcalendar.min
 *= require animate.css/animate.min
 *= require sweetalert/dist/sweetalert
 *= require material-design-iconic-font/dist/css/material-design-iconic-font.min
 *= require malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min
 *= require lightgallery/dist/css/lightgallery.min.css
 *= require app
 *= require_self

 */
span.btn{
  text-transform: none;
}

.media-body .line{
  margin-top: 5px;
}

.sidebar-form{
  margin: 35px 20px
}

html:not(.ie9) .select:before{
  width: auto !important;
}

.s-profile > a {
  display: block;
  height: 129px;
  margin-bottom: 5px;
  width: 100%;
  background: asset-url('profile-menu.jpg') no-repeat left top;
  background-size: 100%;
}

.alert-success{
  background-color: #2b622d;
}
