%p Здравствуйте!
%p Мы получили запрос по смене пароля вашего аккаунта, вы можете сделать это по следующей ссылке:
%p= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @resource.reset_password_token)
%p Если вы не запрашивали данной операции, пожалуйста, проигнорируйте это письмо.
%p Ваш пароль не изменится до перехода по полученной ссылке выше.
