ul.tab-nav.tn-justified
  li class="#{ action_name == 'index' && 'active' }"
    =link_to 'Таблица', url_for(action: :index)
  li class="#{ %w(new create).include?(action_name) && 'active'}"
    =link_to 'Добавить', url_for(action: :new)

