- content_for :stylesheets do
  = stylesheet_link_tag "components/data-tables", media: :all

- content_for :javascripts do
  = javascript_include_tag "components/data-tables"


.card
  .card-header
    h2
      | Пользователи
      small
        | Собственники, соискатели, администраторы; все здесь.

  = bootstrap_flash
  = render 'nav'
  = render 'table'

