<%= javascript_include_tag 'tinymce/tinymce.js' %>
<%= javascript_tag do %>
  top.tinymce.execCommand('mceInsertContent', false, '<%= @insert.html_safe %>');
  top.tinymce.activeEditor.windowManager.close();
<% end %>
