$(function() {
  $('textarea.mce').tinymce({
    width : "720",
    height : "520",
    plugins : "autolink lists table searchreplace paste contextmenu fullscreen visualchars link iupload image fupload gallery media code",
    // nonbreaking template
    toolbar : "formatselect | bold italic | alignleft aligncenter alignright | bullist numlist outdent indent | link iupload gallery media fupload | code",
    contextmenu: "link image inserttable | cell row column deletetable",
    // styleselect
    content_css : "<%= asset_path('admin/wysiwyg.css') %>",
    formats: {
      alignleft: [
        {selector: 'figure,p,h1,h2,h3,h4,h5,h6,td,th,tr,div,ul,ol,li', styles: {textAlign: 'left'}, defaultBlock: 'div'},
        {selector: 'table', styles: {'float': 'left'}},
        {selector: 'img', classes : 'i-left'}
      ],
      aligncenter: [
        {selector: 'figure,p,h1,h2,h3,h4,h5,h6,td,th,tr,div,ul,ol,li', styles: {textAlign: 'center'}, defaultBlock: 'div'},
        {selector: 'img', styles: {display: 'block', marginLeft: 'auto', marginRight: 'auto'}},
        {selector: 'table', styles: {marginLeft: 'auto', marginRight: 'auto'}}
      ],
      alignright: [
        {selector: 'figure,p,h1,h2,h3,h4,h5,h6,td,th,tr,div,ul,ol,li', styles: {textAlign: 'right'}, defaultBlock: 'div'},
        {selector: 'table', styles: {'float': 'right'}},
        {selector: 'img', classes : 'i-right'}
      ]
    },
    relative_urls : false,
    convert_urls : false,
    language : "ru",
    code_dialog_width : 940,
    block_formats : "Параграф=p;Заголовок 2=h2;Заголовок 3=h3;Заголовок 4=h4;Цитата=blockquote",
    /*
    templates : [
      {title: 'Изображение 1', content: '<figure class="f1"><img src="http://placehold.it/320x240" alt=""><figcaption>Подпись к изображению</figcaption></figure>'},
      {title: 'Изображение 2', content: '<figure class="f2"><img src="http://placehold.it/560x315" alt=""><figcaption>Подпись к изображению</figcaption></figure>'}
    ],
    */
    style_formats : [
      {title: 'Параграф', block: 'p'},
      {title: 'Заголовок 2', block: 'h2'},
      {title: 'Заголовок 3', block: 'h3'},
      {title: 'Заголовок 4', block: 'h4'},
      {title: 'Цитата', block: 'blockquote'}
    ],
    valid_elements : "@[lang|title|class|style|id|data-speed|data-delay"
      +"|data-src|onclick|data-screenwidth|data-alt]"
      +",strong/b,blockquote,br,caption,dd,dl,dt,em,h1,h2,h3,h4"
      +",h5,h6,hr,i,li,p,s,small,span,strikesub,sup,table,tbody,tfoot,thead"
      +",tr,u,ul,div,section,article,noscript"
      +",a[href|target|name],img[alt|height|src|width|usemap]"
      +",ol[start],td[colspan|rowspan],th[colspan|rowspan],param[name|value]"
      +",iframe[title|type|width|height|src|frameborder|allowFullScreen],map[name]"
      +",object[data|type|width|height],area[shape|href|class|coords|alt]",
    extended_valid_elements : "span[class],figure[class],figcaption",
    paste_auto_cleanup_on_paste : true,
    paste_postprocess : function(pl, o) {
      o.node.innerHTML = o.node.innerHTML.replace(/&nbsp;/ig, " ");
    }
  });

  $('textarea.mce_brief, textarea.mce_newsletter').tinymce({
    width : "720",
    height : "170",
    plugins : "autolink lists table searchreplace paste contextmenu fullscreen visualchars link iupload image fupload gallery media code",
    toolbar : "bold italic | alignleft aligncenter alignright | bullist numlist outdent indent | link",
    contextmenu: "link",
    content_css : "<%= asset_path('admin/wysiwyg.css') %>",
    relative_urls : false,
    language : "ru",
    code_dialog_width : 940,
    //block_formats : "Параграф=p;Заголовок 2=h2;Заголовок 3=h3;Заголовок 4=h4;Цитата=blockquote",
    paste_auto_cleanup_on_paste : true,
    paste_postprocess : function(pl, o) {
      o.node.innerHTML = o.node.innerHTML.replace(/&nbsp;/ig, " ");
    }
  });
})
