!!!
%html{:lang => 'ru'}
  %head
    = tag :meta, charset: 'utf-8'
    / = airbrake_javascript_notifier
    %title= show_title || 'LomoPro4'
    = stylesheet_link_tag 'admin/application', media: :all
    = yield :styles
    = csrf_meta_tag
  %body
    = content_for?(:admin_layout) ? yield(:admin_layout) : yield
  = javascript_include_tag 'admin/application'
  = yield :javascript
