!!!
/[if IE 9 ] <html class="ie9">
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Moscow City Towers: Идентификация
    = stylesheet_link_tag :material_dark_app, media: 'all'
  %body
    .login-content
      = yield
    = javascript_include_tag :material
    = yield :javascript

