!!! 5
%html#no-js{lang: 'ru'}
  %head
    %meta{charset: 'utf-8'}
    / = airbrake_javascript_notifier
    %title= show_title || 'MoscowCityTowers'
    %meta{content: '', name: 'description'}
    %meta{name: 'viewport', content: 'width=1032'}
    %link{href: '/favicon.ico', rel: 'shortcut icon'}
    %link{:href => "//fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet", :type => "text/css"}/
    = yield :stylesheets

    = stylesheet_link_tag :material, media: 'all'
    :javascript
      document.getElementById('no-js').id = 'js';
    - if ajax_sets.present?
      - ajax_sets.each do |url_set|
        :javascript
          var url_setting = "#{raw url_set.to_json}";
          $(document).on(url_set.action), function(){
            $.ajax({
              url: url_set.url,
              method: url_set.method,
              dataType: 'script'
            }).error(function(){
              $('#' + url_set.element_id).text('при загрузке данных произошла ошибка')
            })
          })
    = csrf_meta_tags
  %body
    = render 'layouts/material/header'
    %section#main
      = render 'layouts/material/sidebar'
      %section#content
        = yield
    = javascript_include_tag :material
    = yield :javascripts

